<a href="https://colab.research.google.com/github/vitorqueijo/nuclei_keras/blob/master/nuclei_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pixels's intensity of positive and negative nuclei
## dataset to detect 20x20 pixel nuclei in histological images

Dataset's source: https://www.kaggle.com/zicouc/pixelss-intensity-of-positive-and-negative-nuclei/

by Vítor Queijo, Science and Technology graduation student

In this easy example, we're going to use Keras, a neural network library fast and simple to implement. On this dataset, it's perceptible the similarity with the classical MNIST exercise, one of the first datasets you will use at the beginning of your ML course. So, it's going to be the same implematation with minor changes in the parameters and preprocessing. I hope it's useful in the future to any other grad student (I spent almost 4 hours to understand how to get from DataFrame to Tensor object)

In [1]:
import numpy as np
import pandas as pd
import keras
from keras.layers.core import Dense, Dropout, Activation, Flatten
from keras.layers.convolutional import Convolution2D, MaxPooling2D
from keras.models import Sequential
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

## First, let's see with pandas what we're dealing with

In [2]:
train_df: pd.DataFrame = pd.read_csv('data.csv')
train_df.head()

   pixel1  pixel2  pixel3  pixel4  ...  pixel398  pixel399  pixel400  Label
0      84      72      85     104  ...        99       114       130      1
1     196     161     153     174  ...       113       129       159      0
2     138     157     172     152  ...       138       146       153      0
3     125     132     135     137  ...       129       132       133      0
4     126     132     134     128  ...       143       161       167      1

[5 rows x 401 columns]

In [3]:
train_df.shape

(1185, 401)

What's inside in one of them...

In [4]:
train_df.iloc[0,0:].values

array([ 84,  72,  85, 104,  89,  59,  47,  48,  69,  88, 112, 137, 146,
       124, 102, 102, 120, 120, 102,  86,  79,  70,  75,  89,  86,  69,
        60,  64,  79,  84,  94, 115, 125, 106,  87,  92, 120, 121, 107,
        92,  71,  66,  61,  69,  78,  69,  60,  66,  95,  92,  98, 118,
       123,  90,  63,  63,  89,  97, 101,  98,  68,  69,  62,  64,  74,
        65,  49,  49,  79,  84, 103, 129, 128,  80,  39,  35,  42,  58,
        87, 104,  74,  75,  75,  79,  77,  61,  40,  32,  40,  53,  77,
       103, 100,  57,  24,  27,  22,  34,  73, 104,  83,  75,  85,  91,
        69,  46,  33,  22,  31,  40,  49,  58,  53,  27,  15,  27,  27,
        25,  59,  92, 101,  76,  91,  96,  52,  26,  32,  24,  41,  45,
        40,  33,  29,  18,  13,  23,  31,  18,  49,  87, 125,  86,  98,
       101,  41,  19,  36,  33,  35,  43,  39,  31,  33,  27,  19,  21,
        29,  13,  48,  94, 133, 107,  97,  96,  47,  18,  34,  32,  30,
        32,  36,  31,  22,  29,  35,  25,  30,  32,  42, 103, 136, 114,
       103,  97,  52,  26,  47,  44,  35,  32,  30,  22,  13,  22,  29,
        20,  18,  25,  40, 104, 134, 122, 108,  92,  49,  29,  50,  46,
        30,  30,  34,  30,  22,  26,  26,  12,  20,  27,  42, 106, 129,
       131, 115,  89,  43,  23,  43,  41,  35,  35,  37,  32,  26,  31,
        30,  15,  28,  29,  33,  84, 127, 136, 118,  88,  44,  23,  39,
        40,  44,  40,  37,  27,  18,  27,  32,  22,  42,  38,  36,  77,
       130, 133, 107,  79,  48,  26,  36,  37,  30,  38,  51,  49,  39,
        37,  31,  18,  37,  40,  42,  88, 150, 137,  94,  70,  53,  34,
        34,  33,  24,  44,  73,  82,  74,  67,  57,  37,  41,  48,  54,
       100, 176, 148,  91,  70,  63,  44,  38,  34,  44,  60,  85,  92,
        85,  91,  97,  88,  91,  93,  93, 133, 170, 135,  82,  73,  77,
        57,  59,  65,  62,  78,  81,  74,  76,  83, 102, 127, 117, 118,
       116, 112, 158, 135,  88,  77,  78,  61,  63,  65,  68,  80,  79,
        69,  69,  71,  84, 104, 115, 115, 113, 107, 137, 128,  92,  80,
        84,  74,  74,  67,  69,  75,  71,  62,  62,  60,  66,  81,  79,
        83,  89,  92, 116, 118,  88,  80,  93,  94,  90,  70,  64,  67,
        60,  56,  60,  58,  60,  72,  90,  99, 114, 130,   1])

**Uhmm**...it doens't look like an useful data for keras. 

Let's now **reshape** for 20x20 as informed on kaggle description. Since we're going to put a single row as a vector of a picture, we're taking all the 400 columns and reshaping as an 20x20 with numpy's help. the last row are the labels.

A wonderful explanation from the marvelous Stackoverflow:

*Briefly, feature is input; label is output*.

*A feature is one column of the data in your input set. For instance, if you're trying to predict the type of pet someone will choose, your input features might include age, home region, family income, etc. The label is the final choice, such as dog, fish, iguana, rock, etc.*

*Once you've trained your model, you will give it sets of new input containing those features; it will return the predicted "label" (pet type) for that person* 
- by user: Prune - Systems Validation Engineer, Artificial Intelligence Products Group, Intel Corp.

In [0]:
df_x = train_df.iloc[:,:-1].values.reshape(len(train_df),20,20,1)
y = train_df.iloc[:,-1:].values

In our case, we just have two categories: Positive or Negative nucleus; so, num_classes is suposed to be only 2.
Keras already has a function to do it, this is commonly known as 'one hot encoding' categories, since sometimes we have data that we can transform in number just to have an simple output, but it's not like we're going to make any calculation on it, just to make it simple, we're using even if we already have '1 or 0', educational purposes here.

In [0]:
df_y = keras.utils.to_categorical(y, num_classes=2)

In [0]:
df_x = np.array(df_x)
df_y = np.array(df_y)

In [8]:
df_x.shape, df_y.shape

((1185, 20, 20, 1), (1185, 2))

> ...The famous sklearn to help us split our dataset to train our model...

In [0]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.25, random_state=10)

Now, our neural network: I've chosen the hard sigmoid function for activation on convolution because it was the best in outcome on this example, 20 nodes since each time I've set up higher numbers, the loss skyrocketed and compromised the accuracy evidently. Futhermore, sigmoid function for this input is good to sharpen up to the next layer, which I set up to softmax since we're dealing with two outputs: 1 or 0; and I want a better estimated probability.
Also, the loss "categorical_crossentropy" is better for binary outputs. (I guess.)

In [10]:
model = Sequential()
model.add(Convolution2D(32, 3,data_format='channels_last', activation='hard_sigmoid', input_shape=(20,20,1)))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Flatten())
model.add(Dense(20))
model.add(Dropout(.5))
model.add(Dense(2))
model.add(Activation('softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adadelta', metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [11]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 18, 18, 32)        320
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 9, 9, 32)          0
_________________________________________________________________
flatten_1 (Flatten)          (None, 2592)              0
_________________________________________________________________
dense_1 (Dense)              (None, 20)                51860
_________________________________________________________________
dropout_1 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 42
_________________________________________________________________
activation_1 (Activation)    (None, 2)                 0
=================================================================
Total params: 52,222
Trainable params: 52,222
Non-trainable params: 0
_________________________________________________________________

Let's run a single test with one epoch just for science purposes and not because I'm eager to test it...

In [12]:
model.fit(x_train[:100], y_train[:100], validation_data=(x_test[:20], y_test[:20]))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 100 samples, validate on 20 samples
Epoch 1/1
100/100 [==============================] - 0s 3ms/step - loss: 2.8495 - acc: 0.5200 - val_loss: 1.6363 - val_acc: 0.6000

In [13]:
model.fit(x_train, y_train,epochs=10, validation_data=(x_test, y_test))

Train on 888 samples, validate on 297 samples
Epoch 1/10
888/888 [==============================] - 0s 412us/step - loss: 1.2265 - acc: 0.6971 - val_loss: 0.1145 - val_acc: 0.9663
Epoch 2/10
888/888 [==============================] - 0s 430us/step - loss: 0.2661 - acc: 0.9088 - val_loss: 0.0967 - val_acc: 0.9697
Epoch 3/10
888/888 [==============================] - 0s 417us/step - loss: 0.1147 - acc: 0.9673 - val_loss: 0.0435 - val_acc: 0.9899
Epoch 4/10
888/888 [==============================] - 0s 407us/step - loss: 0.1164 - acc: 0.9595 - val_loss: 0.0400 - val_acc: 0.9832
Epoch 5/10
888/888 [==============================] - 0s 433us/step - loss: 0.0993 - acc: 0.9628 - val_loss: 0.0333 - val_acc: 0.9933
Epoch 6/10
888/888 [==============================] - 0s 406us/step - loss: 0.0624 - acc: 0.9809 - val_loss: 0.0425 - val_acc: 0.9899
Epoch 7/10
888/888 [==============================] - 0s 409us/step - loss: 0.2064 - acc: 0.9414 - val_loss: 0.0242 - val_acc: 0.9933
Epoch 8/10
888/888 [==============================] - 0s 406us/step - loss: 0.0543 - acc: 0.9854 - val_loss: 0.0228 - val_acc: 0.9933
Epoch 9/10
888/888 [==============================] - 0s 412us/step - loss: 0.0594 - acc: 0.9809 - val_loss: 0.0570 - val_acc: 0.9865
Epoch 10/10
888/888 [==============================] - 0s 407us/step - loss: 0.0539 - acc: 0.9865 - val_loss: 0.0198 - val_acc: 0.9933

Wow, 99,33% of accuracy, well, I think we've our winner.

In [15]:
print("print('Thank you for coming to my TED talk')")

print('Thank you for coming to my TED talk')